alias nix-install="nix-env -i"
alias nix-update="nix-env -u '*'"
alias cdx="codex"
alias cdxp="codex --profile"
alias cld="claude"
alias cldp="claude --model opus --effort xhigh"
alias cldd="claude --model sonnet --effort high"
alias nix-install="nix profile add"
alias nix-update="nix profile upgrade --all"